<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114977160998-o5jh86e897gkd8scj4f2d3u4tk08m0i1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114977160998-o5jh86e897gkd8scj4f2d3u4tk08m0i1</string>
	<key>API_KEY</key>
	<string>AIzaSyB9j_dzwBiL0lQS199R9gIbHWRWVl71wmk</string>
	<key>GCM_SENDER_ID</key>
	<string>114977160998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseNewsApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-full-news-6c99d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-full-news-6c99d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114977160998:ios:abaaec88d5956b2d27cbe7</string>
</dict>
</plist>